<h1>Board</h1>

<% colors.forEach(function(color) { %>
<!-- <div class="product-result"> -->

  <h4><a href="<%= color.url %>"><%= color.name %></p></h4>
  <div><a href="<%= color.url %>"><img src="<%= color.url %>" alt="product image"></a></div>

  <div class="wrapper-btn-price">

    <div class="add-to-board-btn">
      <form method="POST" action="/boards/items/<%= color.id %>">
        <input type="submit" value="Delete" name="delete" class="btn btn-info">
      </form>
    </div>

    <div class="price"><%= color.price %></div>

  </div>
<!-- </div> -->

<% }); %>
