<h2>This is your boards show page</h2>
<p>It will display products that you added to this board (i.e. various products that are orange)</p>
<p>This page will also let you remove products from the board.</p>

<% colors.forEach(function(color) { %>
  <p><a href="<%= color.url %>"><%= color.name %></p></a>
  <p><%= color.price %></p>
  <div><a href="<%= color.url %>"><img src="<%= color.url %>" alt="product image"></a></div>
  <form method="POST" action="/boards/items/<%= color.id %>">
    <input type="submit" value="Delete" name="delete">
  </form>
<% }); %>
