<h2>This is the products page</h2>

<h3><%= colorQuery %></h3>


<% itemArr.forEach(function(attribute) { %>
  <p><a href="<%= attribute.DetailPageURL %>"><%= attribute.ItemAttributes.Title %></a><p>
  <div><img src="<%= attribute.MediumImage.URL %>" alt="product image"></div>
  <p><%= attribute.OfferSummary.LowestNewPrice.FormattedPrice %></p>

  <form action="/products/add" method="POST">
    <input type="submit" value="Add to Board" name="addToBoard" class="btn">
    <input type="hidden" value="<%= attribute.ItemAttributes.Title %>" name="title">
    <input type="hidden" value="<%= colorQuery %>" name="color">
  </form>
<% }); %>
