<h1>Find something cool in <%= colorQuery %>.</h1>


<% itemArr.forEach(function(attribute) { %>
  <div class="product-result">
  <h4><a href="<%= attribute.DetailPageURL %>"><%= attribute.ItemAttributes.Title %></a></h4>
  <div><img src="<%= attribute.MediumImage.URL %>" alt="product image"></div>

  <div class="wrapper-btn-price">

    <div class="add-to-board-btn">
      <form action="/products/add" method="POST">
        <input type="submit" value="Add to Board" name="addToBoard" class="btn btn-info">
        <input type="hidden" value="<%= attribute.ItemAttributes.Title %>" name="title">
        <input type="hidden" value="<%= colorQuery %>" name="color">
        <input type="hidden" value="<%= attribute.MediumImage.URL %>" name="url">
        <input type="hidden" value="<%= attribute.OfferSummary.LowestNewPrice.FormattedPrice %>" name="price">
      </form>
    </div>

    <div class="price"><h5><%= attribute.OfferSummary.LowestNewPrice.FormattedPrice %></h5></div>
  </div>
  </div>
<% }); %>

